# NYC High School Performance Analysis

This Jupyter Notebook analyzes performance data for New York City public high schools, focusing on SAT scores (math, reading, and writing). The dataset contains information about schools, including their borough, building code, and average scores in various subjects.

## 1. Importing Libraries and Loading the Data

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

This cell imports the necessary libraries and loads the dataset schools.csv. It then previews the first few rows of the dataset to understand its structure.

## 2. Identifying Best Math Schools

In [ ]:
# Define the threshold for a "high" math score (e.g., 80th percentile * 8)
high_math_score = 80 * 8  # Adjust the multiplier if needed

# Filter schools with math scores above the threshold
best_math_schools_temp = schools[schools['average_math'] >= high_math_score]

# Select relevant columns and sort the results by average math score in descending order
best_math_schools = best_math_schools_temp[['school_name', 'average_math']].sort_values('average_math', ascending=False)

# Display the top math-performing schools
best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

This section filters schools with math scores above a specified threshold (80 * 8 in this case) and displays the schools sorted by their average math score in descending order.

## 3. Top 10 Schools by Total SAT Score

In [ ]:
# Calculate the total SAT score by summing the individual subject scores
schools['total_SAT'] = schools['average_writing'] + schools['average_reading'] + schools['average_math']

# Sort schools by total SAT score in descending order and pick the top 10
top_10_schools_temp = schools.sort_values('total_SAT', ascending=False).head(10)

# Display the top 10 schools based on total SAT score
top_10_schools = top_10_schools_temp[['school_name', 'total_SAT']]
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

Here, we calculate the total SAT score by summing the individual math, reading, and writing scores, then display the top 10 schools based on the total SAT score.

## 4. Borough-Level Analysis

In [4]:
borough_stats = schools.groupby('borough').agg(
    num_schools=('school_name', 'size'),
    average_SAT=('total_SAT', 'mean'),
    std_SAT=('total_SAT', 'std')
).reset_index()

borough_stats = borough_stats.round({'average_SAT': 2, 'std_SAT': 2})

largest_std_dev = borough_stats.loc[[borough_stats['std_SAT'].idxmax()]]


largest_std_dev

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29

This cell performs an analysis at the borough level, calculating the number of schools, the average SAT score, and the standard deviation of SAT scores for each borough. It also identifies the borough with the highest standard deviation in SAT scores.

## Conclusion
This notebook provides insights into NYC high school performance based on SAT scores. You can extend the analysis by adding additional visualizations, handling missing data, or exploring other factors that may affect school performance.